<div class="login-user">
  <h3>User Sign In</h3>
  <form action="" method="post">
    <div class="form-group">
      <input type="text" name="user" />
    </div>
    <div class="form-group">
      <input type="password" name="password" />
    </div>
    <div class="form-group">
      <input type="submit" value="Enviar" />
    </div>
  </form>
</div>
