.item {
  border: solid 2px #c3c3c3;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: auto;
}

.item > p {
  color: #242424;
}

.item > img {
  max-height: 100px;
  max-width: 300px;
}
