<form (submit)="onSubmit($event)">
  <h1>Login</h1>
  <div class="form-group">
    <label for="nickname">Nickname/Email</label>
    <input
      type="text"
      class="form-control"
      name="nickname"
      id="nickname"
      (change)="onChangeNickname($event)"
    />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" id="password"
    (change)="onChangePassword($event)"/>
  </div>
  <div class="form-group">
    <input type="submit" class="form-control" value="Login" />
  </div>
</form>

<div class="alert alert-primary" role="alert">
  {{ alert }}
</div>
